ion-toolbar {
    --border-width: 0px !important;
}

.not-item {
    display: flex;
    flex-direction: row;
    padding: 16px 0;

    .details {
        display: flex;
        flex-direction: column;

        ion-text {
            font-size: .7rem;
            margin-top: 5px;
            opacity: .7;

        }
    }

    .icon {
        display: flex;
        align-items: center;

        ion-icon {
            font-size: 1.6rem;
            margin-right: 8px;
        }
    }
}