<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="ic-home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab-filter">
      <ion-icon name="ic-topics"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="ic-cal"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="ic-chat"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="my-profile">
      <ion-icon name="ic-user"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
