<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text="{{'back' | translate}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'changePassword' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="changeForm" novalidate>
    <ion-item class="ion-margin-vertical">
      <ion-label position="stacked" color="secondary">{{"password" | translate}}</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-text class="ion-padding-horizontal" color="danger" *ngIf="submitted && f.password.invalid">
      <span *ngIf="f.password.errors.required">{{'required' | translate}}</span>
      <span *ngIf="f.password.errors.pattern || f.password.errors.minlength">
        {{'passwordValidation' | translate}}
      </span>
    </ion-text>
    <ion-item class="ion-margin-vertical">
      <ion-label position="stacked" color="secondary">{{"confirmPassword" | translate}}</ion-label>
      <ion-input type="password" formControlName="cpassword"></ion-input>
    </ion-item>
    <ion-text class="ion-padding-horizontal" color="danger" *ngIf="submitted && f.cpassword.invalid">
      <span *ngIf="f.cpassword.errors.required">{{'required' | translate}}</span>
      <span *ngIf="f.cpassword.errors.MatchPassword">{{'passwordMismatch' | translate}}</span>
    </ion-text>
    <div class="footer">
      <div class="login">
        <ion-button color="primary" (click)="submit()">{{"changePassword" | translate}}
        </ion-button>
      </div>
    </div>
  </form>
</ion-content>

