ion-toolbar {
    --border-width: 0px !important;
}
ion-item{
    --padding-start: 0;
}
.footer {
    margin-top: 60px;
    text-align: center;
    .login {
        ion-button {
            //--background: linear-gradient(45deg, #66CF9F, #2df8ab);
            //border-radius: 12px;
            height: 48px;
            min-width: 250px;
            color: var(--ion-color-secondary);
            font-weight: bold;
        }
    }
    .register {
        text-align: center;
        margin-top: 50px;
        ion-text {
            //--background: transparent;
            //text-shadow: 0 3px 10px black;
            color: var(--ion-color-secondary);
            font-weight: bold;
        }
    }
}

.label-stacked{
    font-size: 18px;
    font-weight: 500;
}