ion-toolbar{
	--border-width: 0 !important;
}
ion-content{
	--background: linear-gradient(0deg, #EEEEEE, transparent);
.main {
	background-size: cover;
	background-position: bottom;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	.header {
		.logo {
			width: 100px;
			margin: auto;
			padding: 10px;
		}
		.content {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			color: var(--ion-color-secondary);
			margin: auto;
			ion-label {
				font-weight: bold;
				font-size: 1.6rem;
			}
			ion-text {
				text-align: center;
				margin-top: 10px;
				font-size: 14px;
			}
		}
	}
	.middle {
		ion-text {
			font-size: 14px;
			color: var(--ion-color-secondary);
		}
		.lng-switcher {
			display: flex;
			text-align: center;
			justify-content: center;
			margin-top: 16px;
			color: var(--ion-color-secondary);
			font-weight: bold;
			div {
				padding: 10px 16px;
				background: #fff;
				&.selected {
					background: var(--ion-color-primary);
				}
				&:first-child {
					border-top-left-radius: 12px;
					border-bottom-left-radius: 12px;
				}
				&:last-child {
					border-top-right-radius: 12px;
					border-bottom-right-radius: 12px;
				}
			}
		}
	}
	.footer {
		.guest {
            text-align: center;
			ion-label {
				//--background: transparent;
				//text-shadow: 0 3px 10px black;
				color: var(--ion-color-secondary);   
				text-decoration: underline !important;             
			}
		}
		.adafsa-logo{
			margin: 30px auto 16px;
			width: max-content;
		}
		.login {
			ion-button {
                //--background: linear-gradient(45deg, #66CF9F, #2df8ab);
				//border-radius: 12px;
				height: 48px;
				min-width: 220px;
                color: var(--ion-color-secondary);
                font-weight: bold;
			}
		}
		.register {
			text-align: center;
			margin-top: 50px;
			ion-text {
				//--background: transparent;
				//text-shadow: 0 3px 10px black;
				color: var(--ion-color-secondary);
				font-weight: bold;
			}
		}
	}
}
}
#arrowAnim {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .arrows{
    width: 40px;
  }
  .arrow {
    width: .8rem;
    height: .8rem;
    border: 2px solid;
    border-color: white transparent transparent white;
    transform: rotate(135deg);
  }
  
  
  .arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite; 
            animation: slide 4s linear infinite;
  }
  
  .delay1 {
    -webkit-animation-delay: 1s; 
      animation-delay: 1s;
  }
  .delay2 {
    -webkit-animation-delay: 2s; 
      animation-delay: 2s;
  }
  .delay3 {
    -webkit-animation-delay: 3s; 
      animation-delay: 3s;
  }
  
  @-webkit-keyframes slide {
      0% { opacity:0; transform: translateX(-2rem); }	
     20% { opacity:1; transform: translateX(-1rem); }	
     80% { opacity:1; transform: translateX(1rem); }	
    100% { opacity:0; transform: translateX(2rem); }	
  }
  @keyframes slide {
      0% { opacity:0; transform: translateX(-2rem); }	
     20% { opacity:1; transform: translateX(-1rem); }	
     80% { opacity:1; transform: translateX(1rem); }	
    100% { opacity:0; transform: translateX(2rem); }	
  }