ion-toolbar {
  --border-width: 0 !important;

  ion-title {
    font-weight: bold;
  }
}

ion-content {
  .content {
    ion-item {
      --background: transparent;
      &::part(native) {
        padding: 0;
      }
    }
  }

  .logo {
    width: 150px;
    margin: auto;
    padding: 10px;
  }

  .forgot {
    padding: 16px 0;
    font-size: .7rem;
  }

  .required{
    font-size: .7rem;
  }

  .resend {
    //--background: linear-gradient(45deg, #66CF9F, #2df8ab);
    //border-radius: 12px;
    height: 48px;
    min-width: 250px;
    // --border-radius: 0;
    color: var(--ion-color-secondary);
    font-weight: bold;
  }

  .footer {
    margin-top: 60px;
    text-align: center;

    .login {
      ion-button {
        //--background: linear-gradient(45deg, #66CF9F, #2df8ab);
        //border-radius: 12px;
        height: 48px;  
        min-width: 250px;
        // --border-radius: 0;
        // box-shadow: 0 2px 0px var(--ion-color-dark);
        color: var(--ion-color-secondary);
        font-weight: bold;
      }
    }

    .register {
      text-align: center;
      margin-top: 50px;

      ion-text {
        //--background: transparent;
        //text-shadow: 0 3px 10px black;
        color: var(--ion-color-secondary);
        font-weight: bold;
      }
    }
  }
}

.label-stacked {
  font-size: 18px;
  font-weight: 500;
}

#arrowAnim {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows {
  width: 50px;
  margin-left: 10px;
}

.arrow {
  width: .8rem;
  height: .8rem;
  border: 2px solid;
  border-color: white transparent transparent white;
  transform: rotate(135deg);
}


.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite;
  animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.delay2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.delay3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }

  20% {
    opacity: 1;
    transform: translateX(-1rem);
  }

  80% {
    opacity: 1;
    transform: translateX(1rem);
  }

  100% {
    opacity: 0;
    transform: translateX(2rem);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }

  20% {
    opacity: 1;
    transform: translateX(-1rem);
  }

  80% {
    opacity: 1;
    transform: translateX(1rem);
  }

  100% {
    opacity: 0;
    transform: translateX(2rem);
  }
}