<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text="{{'back' | translate}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"forgotYourPassword" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="main" *ngIf="!success">
    <form [formGroup]="loginForm" novalidate>
      <div class="content">
        <div class="logo">
          <ion-img src="./assets/login-logo.svg"></ion-img>
        </div>
        <ion-item class="ion-margin-top">
          <ion-label position="stacked" color="secondary">{{"emirateID" | translate}} / {{"passportNumber" | translate}} <ion-text color="danger" class="astrick">*</ion-text>
          </ion-label>
          <ion-input formControlName="IdentifcationNo"></ion-input>
        </ion-item>
        <ion-text class="required" color="danger" *ngIf="submitted && f.IdentifcationNo.invalid">
          <span *ngIf="f.IdentifcationNo.errors.required">{{'required' | translate}}</span>
          <span *ngIf="f.IdentifcationNo.errors.minlength">{{'invalid' | translate}}</span>
        </ion-text>
      </div>
      <div class="footer">
        <div class="login">
          <ion-button color="primary" (click)="submit()">{{"RESEND" | translate}}</ion-button>
        </div>
      </div>
    </form>
  </div>
  <div class="main" *ngIf="success">
    <div class="content">
      <div class="logo">
        <ion-img src="./assets/login-logo.svg"></ion-img>
      </div>
      <div class="ion-text-center ion-margin-top">
        <ion-label><h1>{{'passwordResetMsg' | translate}}</h1></ion-label>
        <ion-button class="ion-margin-top resend" color="primary" (click)="back()">{{"loginToAccount" | translate}}</ion-button>
      </div>
    </div>
  </div>
</ion-content>