/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
figure {
  margin: auto !important;
  max-width: 100% !important;
}
figure img {
  width: 100%;
}

figure.table {
  overflow-x: scroll;
  float: none !important;
}

.transparent-modal .modal-wrapper {
  opacity: 0.96 !important;
}

ion-modal.splash-modal .modal-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

ion-modal.category-type-modal {
  --height: auto;
  align-items: center;
}
ion-modal.category-type-modal .modal-wrapper {
  width: 95vw;
  border-radius: 25px;
}
ion-modal.category-type-modal .modal-wrapper .ion-page {
  position: relative;
  contain: content;
  max-height: 95vh;
  min-height: 50vh;
}
ion-modal.category-type-modal .modal-wrapper .ion-page .modal-content {
  overflow: auto;
}

ion-modal.category-modal {
  --height: auto;
  align-items: center;
}
ion-modal.category-modal .modal-wrapper {
  width: 95vw;
  border-radius: 25px;
}
ion-modal.category-modal .modal-wrapper .ion-page {
  position: relative;
  contain: content;
  max-height: 95vh;
  min-height: 60vh;
}
ion-modal.category-modal .modal-wrapper .ion-page .modal-content {
  overflow: auto;
}

.inner-details table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  border: 1px double #b3b3b3;
}
.inner-details table thead th {
  padding: 0.4em;
}
.inner-details table tbody tr td {
  padding: 0.4em;
}

ion-modal.new-topic-modal {
  --height: auto;
  align-items: center;
}
ion-modal.new-topic-modal .modal-wrapper {
  width: 95vw;
  border-radius: 15px;
}
ion-modal.new-topic-modal .modal-wrapper .ion-page {
  position: relative;
  contain: content;
  max-height: 95vh;
  min-height: 360px;
}
ion-modal.new-topic-modal .modal-wrapper .ion-page .modal-content {
  overflow: auto;
}

ion-spinner {
  direction: ltr !important;
}

html[dir=rtl] ion-menu ion-list ion-item ion-label {
  margin-right: 8px;
  margin-left: initial !important;
}
html[dir=rtl] ion-menu ion-toolbar {
  --border-width: 0px !important;
}
html[dir=rtl] ion-menu ion-toolbar ion-title {
  text-align: right !important;
}
html[dir=rtl] .weather-wrapper .temp {
  height: 100%;
}
html[dir=rtl] .weather-wrapper .temp div.high {
  border-left: 1px solid rgba(151, 151, 151, 0.26) !important;
  border-right: none !important;
}
html[dir=rtl] .weather-wrapper .temp div ion-text {
  font-size: 16px !important;
}
html[dir=rtl] .weather-wrapper .weather {
  margin-right: 8px !important;
  margin-left: initial !important;
}
html[dir=rtl] .weather-wrapper .weather .content ion-text {
  font-size: 16px !important;
}
html[dir=rtl] .selected-item .img {
  margin-left: 10px;
  margin-right: auto;
}
html[dir=rtl] .header .highlights .events {
  margin-right: 0 !important;
  margin-left: 8px;
  border-left: 1px solid #5C6770;
  border-right: none !important;
  padding-left: 8px;
  padding-right: 0 !important;
}
html[dir=rtl] .pest-details img {
  margin-right: 0 !important;
  margin-left: 8px !important;
}
html[dir=rtl] ion-slides ion-slide div {
  text-align: right !important;
}
html[dir=rtl] .arrows {
  margin-right: 20px;
  margin-left: 0 !important;
}
html[dir=rtl] .arrows .arrow {
  transform: rotate(315deg) !important;
}
html[dir=rtl] .arrows .arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite reverse;
  animation: slide 4s linear infinite reverse;
}
html[dir=rtl] .arrows .delay1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
html[dir=rtl] .arrows .delay2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
html[dir=rtl] .arrows .delay3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
@-webkit-keyframes slide {
  100% {
    opacity: 0;
    transform: translateX(-2rem) !important;
  }
  80% {
    opacity: 1;
    transform: translateX(-1rem) !important;
  }
  20% {
    opacity: 1;
    transform: translateX(1rem) !important;
  }
  0% {
    opacity: 0;
    transform: translateX(2rem) !important;
  }
}
@keyframes slide {
  100% {
    opacity: 0;
    transform: translateX(-2rem) !important;
  }
  80% {
    opacity: 1;
    transform: translateX(-1rem) !important;
  }
  20% {
    opacity: 1;
    transform: translateX(1rem) !important;
  }
  0% {
    opacity: 0;
    transform: translateX(2rem) !important;
  }
}
html[dir=rtl] .login-page .content ion-input {
  border-right: 1px solid #fff;
  --padding-start: 5px;
  border-left: none !important;
}/*# sourceMappingURL=global.css.map */